h1{
    color: rgb(13, 114, 18);
 
}


.header{
    
    background-image: src="images/main2.jpg" height = "600px" width = "600px"
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-items: flex-start;
}
h2{
    text-align: center;

}
p,h3{
    text-align: center;

}

menu{

    display:flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;

}
body{
    background-color: whitesmoke;
}